.banner {
	color:white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background: linear-gradient(-225deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.5) 40%), url(../../images/Dance.jpeg);
  background-size: cover;
  font-family: "Helvetica", "sans-serif";
}
.banner-content {
  padding: 20px;
}